

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>La Cantera: Bebidas</title>
        <link rel="icon" href="img/miniLogo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/cartaStyle.css"/>
        <script src="https://kit.fontawesome.com/96d888f474.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div th:include="usuario/template_usuario.html::header">
            </div>
            
            <hr><br>
            
            <h1 style="margin-left: 150px">Bebidas</h1>
            
            <br><br>
            
            <table class="precios">
                <tr>
                    <th><img src="img/chicha.png"></th>
                    <td colspan="2">Jarra de Chicha Morada de 1L<br>s/.15.00</td>
                </tr>
                <tr>
                    <th><img src="img/inca.jpg" style="width: 103px"></th>
                    <td>Inca kola de 3L<br>s/.15.00</td>
                    <td>Inca kola de 1.5L<br>s/.9.00</td>
                </tr>
                <tr>
                    <th><img src="img/coca.jfif" style="width: 103px; height: 90px"></th>
                    <td>Inca kola de 3L<br>s/.15.00</td>
                    <td>Inca kola de 1.5L<br>s/.9.00</td>
                </tr>
                <tr>
                    <th><img src="img/agua.jpg"></th>
                    <td colspan="2">Agua Mineral<br>s/.3.00</td>
                </tr>
            </table>

            <div th:include="usuario/template_usuario.html::footer">
            </div>
        </div>
    </body>
</html>
