<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/carrito2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/cartaStyle.css"/>
</head>

<body>
<div class="container">
    <nav class="navMain">
        <a href="index.html"><img src="img/logo.jpg" alt="" class="navBrand"></a>
        <ul class="navMenu">
            <li>
                <a href="nuestraCarta.html">Nuestra Carta</a>
            </li>
            <li>
                <a href="promociones.html">Promociones</a>
            </li>
            <li>
                <a href="restaurantes.html">Restaurantes</a>
            </li>
        </ul>
        <ul class="navMenu2">
            <li>
                <p>Elige tu experiencia:</p>
            </li>
            <li>
                <a href="reserva.html">Reserva Aquí</a>
            </li>
            <li>
                <a >Ordena Aquí</a>
            </li>
        </ul>
        <br>
    </nav>
    <ul class="nav nav-pills mb-2 py-4 container" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
               role="tab" aria-controls="pills-home" aria-selected="true">Productos</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
               role="tab" aria-controls="pills-profile" aria-selected="false">Carrito</a>
        </li>
    </ul>

    <div class="alert container position-sticky top-0 alert-success hide" role="alert">
        Seleccione para agregar al carrito.
    </div>

    <div class="alert container position-sticky top-0 alert-danger remove" role="alert">
        Verifique los productos elegidos.
    </div>

    <br>

    <div class="tab-content " id="pills-tabContent">
        <div class="tab-pane panel1 fade show active container" id="pills-home" role="tabpanel"
             aria-labelledby="pills-home-tab" tabindex="0">
            <br>
            <h2 style="color: white" class="h4 m-4 "><strong>Pollos a la Brasa</strong></h2>

            <div class="row row-cols-sm-1 row row-cols-md-2 row row-cols-lg-3 row row-cols-xl-4">

                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">

                        <img src="img/pollo2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Un pollo completo más una porción de papas y ensalada</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">1 Pollo + Papas + Ensalada</h5>
                            <h5 style="color:black" class="card-precio" >Precio: <span class="precio"> $ 16.23</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">
                        <img src="img/mpollo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Medio pollo más una porción de papas y ensalada</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">1/2 Pollo + Papas + Ensalada</h5>
                            <h5 style="color:black" class="card-precio">Precio: <span class="precio"> $ 9.13</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">
                        <img src="img/ucpollo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Un cuarto de pollo más una porción de papas y ensalada</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">1/4 Pollo + Papas + Ensalada</h5>
                            <h5 style="color:black" class="card-precio">Precio: <span class="precio"> $ 4.82</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">
                        <img src="img/uopollo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Un octavo de pollo más una porción de papas y ensalada/p>
                            <h5 style="color:black" class="card-title pt-2 text-center">1/8 Pollo + Papas + Ensalada</h5>
                            <h5 style="color:black" class="card-precio">Precio: <span class="precio"> $ 3.04</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <h2 style="color: white" class="h4 m-4"><strong>Chicharrones de Pollo</strong></h2>

            <div class="row row-cols-sm-1 row row-cols-md-2 row row-cols-lg-3 row row-cols-xl-2">

                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">
                        <img src="img/chicharron1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Un chicharrón completo cortado en 10 presas más una porción de papas</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">10 Presas de chicharrón de pollo + Papas</h5>
                            <h5  style="color:black" class="card-precio">Precio: <span class="precio"> $ 10.14</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">

                        <img src="img/mchicharron.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Medio chicharrón cortado en 5 presas más una porción de papas</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">5 Presas de chicharrón de pollo + Papas</h5>
                            <h5 style="color:black" class="card-precio">Precio: <span class="precio"> $ 6.43</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 style="color: white" class="h4 m-4"><strong>Bebidas</strong></h2>

            <div class="row row-cols-sm-1 row row-cols-md-2 row row-cols-lg-3 row row-cols-xl-3">

                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">

                        <img src="img/jchicha.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Una jarra de un litro de rica chicha morada hecha de forma artesanal</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">Jarra de Chicha Morada de 1L</h5>
                            <h5 style="color:black" class="card-precio">Precio: <span class="precio"> $ 3.80</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">

                        <img src="img/inca3l.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Una botella de 3 litros de refrescante Inca Kola</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">Inca kola de 3L</h5>
                            <h5 style="color:black" class="card-precio">Precio: <span class="precio"> $ 3.80</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">

                        <img src="img/inca15l.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Una botella de 1 litro y medio de refrescante Inca Kola</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">Inca kola de 1.5L</h5>
                            <h5 style="color:black" class="card-precio">Precio: <span class="precio"> $ 2.28</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">

                        <img src="img/coca3l.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Una botella de 3 litros de una clásica Coca Cola</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">Coca Cola de 3L</h5>
                            <h5 style="color:black" class="card-precio">Precio: <span class="precio"> $ 3.80</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">

                        <img src="img/coca15l.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Una botella de 1 litro y medio de una clásica Coca Cola</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">Coca Cola de 1.5L</h5>
                            <h5 style="color:black" class="card-precio">Precio: <span class="precio"> $ 2.28</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">

                        <img src="img/agua.jpeg " class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Una botella de agua mineral de 550 mililitros</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">Agua mineral 550ml</h5>
                            <h5 style="color:black" class="card-precio">Precio: <span class="precio"> $ 0.76</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 style="color: white" class="h4 m-4 "><strong>Guarniciones</strong></h2>

            <div class="row row-cols-sm-1 row row-cols-md-2 row row-cols-lg-3 row row-cols-xl-2">

                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">

                        <img src="img/papass.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Una porción completa de crugientes papas fritas</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">1 Porción de papas</h5>
                            <h5 style="color:black" class="card-precio">Precio: <span class="precio"> $ 3.80</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">

                        <img src="img/mpapas.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Media porción completa de crugientes papas fritas</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">1/2 Porción de papas</h5>
                            <h5 style="color:black" class="card-precio">Precio: <span class="precio"> $ 2.03</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 style="color: white" class="h4 m-4 "><strong>Ensaladas</strong></h2>

            <div class="row row-cols-sm-1 row row-cols-md-2 row row-cols-lg-3 row row-cols-xl-1">

                <div class="col d-flex justify-content-center mb-5">
                    <div class="card shoadow mb-1 rounded" style="width: 20rem;">

                        <img src="img/ensaladaa.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="color:black" class="card-text description">Una porción completa de una saludable ensalada</p>
                            <h5 style="color:black" class="card-title pt-2 text-center">1 Porción de ensalada</h5>
                            <h5 style="color:black" class="card-precio">Precio: <span class="precio"> $ 1.27</span></h5>
                            <div class="d-grid gap-2">
                                <button class="btn button">Añadir carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">


            <div class="carrito" id="pills-contact">
                <table class="table table-warning table-hover">
                    <thead>
                    <tr class="text-dark">
                        <th scope="col">#</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                    </thead>
                    <tbody class="tbody">


                    </tbody>
                </table>

                <br><br>

                <div class="row mx-4">
                    <div class="col">
                        <h3 class="itemCartTotal"><strong>Total:S/. 0</strong></h3>
                        <div class="col d-flex justify-content-end">
                            <button class="btn btn-success">COMPRAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footerContainer">
        <div class="grupo1">
            <div class="box">
                <h2>LA CANTERA</h2><hr>
                <ul>
                    <li><a href="laCantera.html">Historia</a></li>
                    <li><a href="laCantera.html">Misión</a></li>
                    <li><a href="laCantera.html">Visión</a></li><br>
                    <li><img src="img/libroReclamaciones.jpg" alt="alt" class="libro"/></li>
                </ul>
            </div>
            <div class="box">
                <h2>SERVICIOS</h2><hr>
                <ul>
                    <li><a href="reserva.html">Reservas</a></li>
                    <li><a href="logIn.html">Delivery</a></li>
                </ul>
            </div>
            <div class="box">
                <h2>MÉTODOS DE PAGO</h2><hr>
                <ul>
                    <li class="1rafila"><img src="img/visaLogo.png" alt="alt" class="metodoPago"/></li><br>
                    <li class="1rafila"><img src="img/masterLogo.png" alt="alt" class="metodoPago"/></li><br>
                    <li class="2dafila"><img src="img/plinLogo.png" alt="alt" class="metodoPlin"/></li><br>
                    <li class="2dafila"><img src="img/yapeLogo.png" alt="alt" class="metodoYape"/></li>
                </ul>
            </div>
            <div class="box">
                <h2>CONTÁCTANOS</h2><hr>
                <ul>
                    <li><a href="escribenos.html">Escríbenos</a></li>
                    <li><a href="reserva.html">Reserva</a></li><br>
                    <li>Redes Sociales:</li>
                    <li>
                        <table>
                            <tr>
                                <th>
                                    <a href="https://www.facebook.com/pollerialacantera/">
                                        <img src="img/facebookLogo.png" alt="alt" class="redesSociales"/>
                                    </a>

                                </th>
                                <th>
                                    <a href="https://instagram.com/lacanteraica?igshid=YmMyMTA2M2Y=">
                                        <img src="img/instagramLogo.png" alt="alt" class="redesSociales"/>
                                    </a>
                                </th>
                                <th>
                                    <a href="https://www.tiktok.com/@lacanteraica?_t=8VqbhZDxXi2&_r=1">
                                        <img src="img/tiktokLogo.png" alt="alt" class="redesSociales"/>
                                    </a>
                                </th>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grupo2">
            <small>© 2022 <b>La Cantera</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

</div>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script src="js/carrito2.js"></script>
</body>

</html>