
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>La Cantera: Ensaladas</title>
        <link rel="icon" href="img/miniLogo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/cartaStyle.css"/>
        <script src="https://kit.fontawesome.com/96d888f474.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div th:include="usuario/template_usuario.html::header">
            </div>
            
            <hr><br>
            
            <h1 style="margin-left: 150px">Ensaladas</h1>
            
            <br><br>
            
            <table class="precios">
                <tr>
                    <th colspan="2"><img src="img/ensalada.jpg"></th>
                </tr>
                <tr>
                    <td>Ensalada<br>s/.5.00</td>
                </tr>
            </table>

            <div  th:include="usuario/template_usuario.html::footer">
            </div>
        </div>
    </body>
</html>
