
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>La Cantera: Guarniciones</title>
        <link rel="icon" href="img/miniLogo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/cartaStyle.css"/>
        <script src="https://kit.fontawesome.com/96d888f474.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navMain">
                <a href="index.html"><img src="img/logo.jpg" alt="" class="navBrand"></a>
                <ul class="navMenu">
                    <li>
                        <a href="nuestraCarta.html">Nuestra Carta</a>
                    </li>
                    <li>
                        <a href="promociones.html">Promociones</a>
                    </li>
                    <li>
                        <a href="restaurantes.html">Restaurantes</a>
                    </li>
                </ul>
                <ul class="navMenu2">
                    <li>
                        <p>Elige tu experiencia:</p>
                    </li>
                    <li>
                        <a href="reserva.html">Reserva Aquí</a>
                    </li>
                    <li>
                        <a href="logIn.html">Ordena Aquí</a>
                    </li>
                </ul>
            </nav>
            
            <hr><br>
            
            <h1 style="margin-left: 150px">Guarniciones</h1>
            
            <br><br>
            
            <table class="precios">
                <tr>
                    <th colspan="2"><img src="img/papas.png"></th>
                </tr>
                <tr>
                    <td>1 Porción de papas<br>s/.15.00</td>
                    <td>1/2 Porción de papas<br>s/.8.00</td>
                </tr>
            </table>
            
            <footer class="footerContainer">
                <div class="grupo1">
                    <div class="box">
                        <h2>LA CANTERA</h2><hr>
                        <ul>
                            <li><a href="laCantera.html">Historia</a></li>
                            <li><a href="laCantera.html">Misión</a></li>
                            <li><a href="laCantera.html">Visión</a></li><br>
                            <li><img src="img/libroReclamaciones.jpg" alt="alt" class="libro"/></li>
                        </ul>
                    </div>
                    <div class="box">
                        <h2>SERVICIOS</h2><hr>
                        <ul>
                            <li><a href="reserva.html">Reservas</a></li>
                            <li><a href="logIn.html">Delivery</a></li>
                        </ul>
                    </div>
                    <div class="box">
                        <h2>MÉTODOS DE PAGO</h2><hr>
                        <ul>
                            <li class="1rafila"><img src="img/visaLogo.png" alt="alt" class="metodoPago"/></li><br>
                            <li class="1rafila"><img src="img/masterLogo.png" alt="alt" class="metodoPago"/></li><br>
                            <li class="2dafila"><img src="img/plinLogo.png" alt="alt" class="metodoPlin"/></li><br>
                            <li class="2dafila"><img src="img/yapeLogo.png" alt="alt" class="metodoYape"/></li>
                        </ul>
                    </div>
                    <div class="box">
                        <h2>CONTÁCTANOS</h2><hr>
                        <ul>
                            <li><a href="escribenos.html">Escríbenos</a></li>
                            <li><a href="reserva.html">Reserva</a></li><br>
                            <li>Redes Sociales:</li>
                            <li>
                                <table>
                                    <tr>
                                        <th>
                                            <a href="https://www.facebook.com/pollerialacantera/">
                                                <img src="img/facebookLogo.png" alt="alt" class="redesSociales"/>
                                            </a>
                                            
                                        </th>
                                        <th>
                                            <a href="https://instagram.com/lacanteraica?igshid=YmMyMTA2M2Y=">
                                                <img src="img/instagramLogo.png" alt="alt" class="redesSociales"/>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="https://www.tiktok.com/@lacanteraica?_t=8VqbhZDxXi2&_r=1">
                                                <img src="img/tiktokLogo.png" alt="alt" class="redesSociales"/>
                                            </a>
                                        </th>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grupo2">
                    <small>© 2022 <b>La Cantera</b> - Todos los Derechos Reservados.</small>
                </div>
            </footer>
        </div>
    </body>
</html>
