
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Pollería: La Cantera</title>
        <link rel="icon" href="img/miniLogo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        <div class="container">
            <div th:include="usuario/template_usuario.html::header">
            </div>
            
            <hr>
            
            <header class="showcase">
                <div class="slider" id="slider">
                    <div class="slider__section"><img src="img/portada1.jpg" alt="" class="slider__img"/></div>
                    <div class="slider__section"><img src="img/portada2.jpg" alt="" class="slider__img"/></div>
                    <div class="slider__section"><img src="img/portada3.jpg" alt="" class="slider__img"/></div>
                    <div class="slider__section"><img src="img/portada4.jpg" alt="" class="slider__img"/></div>
                </div>
                <div class="slider__btn slider__btnRight" id="btn-right">></div>
                <div class="slider__btn slider__btnLeft" id="btn-left"><</div>
            </header>
            
            <script src="js/slider.js"></script>
            
            <br><br>
            <div th:include="usuario/template_usuario.html::footer">
            </div>

        </div>
    </body>
</html>
