
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>La Cantera: Log In</title>
        <link rel="icon" href="img/miniLogo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/formStyle.css"/>
    </head>
    <body>
        <div class="container">
                <div th:include="usuario/template_usuario.html::header">
                </div>

            <hr><br>
            
            <table class="formContainer">
                <tr>
                    <td><img src="img/fotoLogIn.jpg"></td>
                    <td>
                        <form th:action="@{/acceder}" method="post">
                            <h2>Ingresa a La Cantera</h2><h2> y </h2><h2>disfruta nuestro sabor</h2><br>
                            <input type="email" name="email" id="txtCorreo" placeholder="Correo">
                            <input type="password" name="password" id="txtPassword" placeholder="Contraseña">
                            <button type="submit" href="#" id="boton">Iniciar sesión</button>
                            </br>
                            <a href="/registrar" style="color: #445680">¿No tienes cuenta? <b>Regístrate aquí</b></a>
                        </form>
                    </td>
                </tr>
            </table>
            
            <br><br>
            
            <footer class="footerContainer">
                <div class="grupo1">
                    <div class="box">
                        <h2>LA CANTERA</h2><hr>
                        <ul>
                            <li><a href="laCantera.html">Historia</a></li>
                            <li><a href="laCantera.html">Misión</a></li>
                            <li><a href="laCantera.html">Visión</a></li><br>
                            <li><img src="img/libroReclamaciones.jpg" alt="alt" class="libro"/></li>
                        </ul>
                    </div>
                    <div class="box">
                        <h2>SERVICIOS</h2><hr>
                        <ul>
                            <li><a href="/reservar">Reservas</a></li>
                            <li><a href="/login">Delivery</a></li>
                        </ul>
                    </div>
                    <div class="box">
                        <h2>MÉTODOS DE PAGO</h2><hr>
                        <ul>
                            <li class="1rafila"><img src="img/visaLogo.png" alt="alt" class="metodoPago"/></li><br>
                            <li class="1rafila"><img src="img/masterLogo.png" alt="alt" class="metodoPago"/></li><br>
                            <li class="2dafila"><img src="img/plinLogo.png" alt="alt" class="metodoPlin"/></li><br>
                            <li class="2dafila"><img src="img/yapeLogo.png" alt="alt" class="metodoYape"/></li>
                        </ul>
                    </div>
                    <div class="box">
                        <h2>CONTÁCTANOS</h2><hr>
                        <ul>
                            <li><a href="/contactar">Escríbenos</a></li>
                            <li><a href="/reservar">Reserva</a></li><br>
                            <li>Redes Sociales:</li>
                            <li>
                                <table>
                                    <tr>
                                        <th>
                                            <a href="https://www.facebook.com/pollerialacantera/">
                                                <img src="img/facebookLogo.png" alt="alt" class="redesSociales"/>
                                            </a>
                                            
                                        </th>
                                        <th>
                                            <a href="https://instagram.com/lacanteraica?igshid=YmMyMTA2M2Y=">
                                                <img src="img/instagramLogo.png" alt="alt" class="redesSociales"/>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="https://www.tiktok.com/@lacanteraica?_t=8VqbhZDxXi2&_r=1">
                                                <img src="img/tiktokLogo.png" alt="alt" class="redesSociales"/>
                                            </a>
                                        </th>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grupo2">
                    <small>© 2022 <b>La Cantera</b> - Todos los Derechos Reservados.</small>
                </div>
            </footer>
        </div>
        <script src="js/login.js"></script>
    </body>

</html>
