
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>La Cantera: Carta</title>
        <link rel="icon" href="img/miniLogo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/cartaStyle.css"/>
    </head>
    <body>
        <div class="container">
                <div th:include="usuario/template_usuario.html::header">
                </div>

            
            <hr><br>
            
            <h1 style="margin-left: 150px">Nuestra Carta:</h1>
            
            <br><br><br>
            
            <div class="cartaContainer">
                <div class="carta">
                    <div class="producto">
                        <a href="/pollo">
                        <img src="img/pollo.jpg" class="product">
                        <h2>Pollo a la brasa</h2>
                        </a>
                    </div>
                    <div class="producto">
                        <a href="/chicharrones">
                        <img src="img/chicharrones.jpg" class="product">
                        <h2>Chicharrones</h2>
                        </a>
                    </div>
                </div>
                <div class="carta">
                    <div class="producto">
                        <a href="/guarniciones">
                        <img src="img/guarniciones.jpg" class="product">
                        <h2>Guarniciones</h2>
                        </a>
                    </div>
                    <div class="producto">
                        <a href="/ensaladas">
                        <img src="img/ensaladas.jpg" class="product">
                        <h2>Ensaladas</h2>
                        </a>
                    </div>
                </div>
                <div class="carta">
                    <div class="producto">
                        <a href="/bebidas">
                        <img src="img/bebidas.jpg" class="product">
                        <h2>Bebidas</h2>
                        </a>
                    </div>
                </div>
            </div>

            <br><br>

            <div th:include="usuario/template_usuario.html::footer">
            </div>
        </div>
    </body>
</html>
