
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>La Cantera: Regístrate</title>
    <link rel="icon" href="img/miniLogo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/formStyle.css"/>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<div class="container">
    <div th:include="usuario/template_usuario.html::header">
    </div>

    <hr><br>

    <table class="formContainer">
        <tr>
            <td><img src="img/fotoRegister.jpg"></td>
            <td>
                <form th:action="@{/save}" method="post">
                    <h2>Registrate aquí</h2><br>
                    <h4>Por favor, ingrese la siguiente información</h4>
                    <input type="text" name="nombre"  id="txtNombre" placeholder="Nombres" required>
                    <input type="text" name="Apellidos" id="txtApellido" placeholder="Apellidos" required>
                    <input type="text" name="email" id="txtEmail" placeholder="Correo" required>
                    <input type="text" name="direccion" id="txtDireccion" placeholder="Dirección" required>
                    <input type="password" name="password" id="txtPassword" placeholder="Contraseña" required>
                    <div class="g-recaptcha" data-sitekey="6Lc4AbEiAAAAAAPPmBSMbv3MKUwhORI3n8MNYMjj" aria-required="true"></div>
                    <br>
                    <input type="submit" href="#" value="Registrarme" id="boton">
                    <a href="/login" style="color: #445680">¿Ya tienes cuenta? <b>Iniciar sesión</b></a>
                </form>
            </td>
        </tr>
    </table>

    <br><br>

    <div th:include="usuario/template_usuario.html::footer">
    </div>
</div>
<script src="js/registrar.js"></script>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</html>
