
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>La Cantera: Reserva</title>
        <link rel="icon" href="img/miniLogo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/formStyle.css"/>
    </head>
    <body>
        <div class="container">

                <div th:include="usuario/template_usuario.html::header">
                </div>


            <hr><br>
            
            <form id="formReservar">
                <h2>RESERVA EN TU CANTERA FAVORITA:</h2>
                <select name="restaurantes" id="txtSede">
                    <option value="selecciona">Selecciona un restaurante</option>
                    <option value="Sede: Parcona" >La Cantera: Parcona</option>
                    <option value="Sede: Ica Centro" >La Cantera: Ica Centro</option>
                </select>
                <input type="text" name="Nombre" id="txtNombre" placeholder="Nombres" required>
                <input type="text" name="Apellido" id="txtApellido" placeholder="Apellidos" required>
                <input type="text" name="Correo" id="txtEmail" placeholder="Correo" required>
                <input type="text" name="Telefono" id="txtTelefono" placeholder="Telefono" required>
                <input type="date" name="Fecha" id="txtFecha" placeholder="Fecha" required>
                <input type="time" name="Hora" id="txtHora" placeholder="Hora" value="10:00:00" max="22:30:00" min="10:00:00" step="1" required>
                <input type="number" name="cantidadPersonas" id="txtCantidad" placeholder="Cantidad de personas" min="1" max="20" required>
                <textarea name="mensaje" id="txtMensaje" placeholder="Escriba aquí su mensaje"></textarea>
                <input type="submit"  value="ENVIAR" id="boton">
            </form>
            
            <br><br>

            <div th:include="usuario/template_usuario.html::footer">
            </div>
        </div>
    <script src="js/reservar.js"></script>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</html>
