
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>La Cantera: Restaurantes</title>
        <link rel="icon" href="img/miniLogo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        <div class="container">
            <div th:include="usuario/template_usuario.html::header">
            </div>
            
            <hr><br>
            
            <h1 style="margin-left: 150px">Encuentranos en: </h1>
            
            <table style="margin: 0 auto; padding: 70px 0 90px 0">
                <tr>
                    <td style="padding: 0 20px 0 0"><a href="https://maps.app.goo.gl/ujypQSmvQDn6Z4wAA"><img src="img/sedeParcona.jpg" style="width: 500px"></a></td>
                    <td style="padding: 0 20px 0 0"><a href="https://maps.app.goo.gl/auvShMtV1QFEqx6E7"><img src="img/sedeCentro.jpg" style="width: 500px"></a></td>
                </tr>
                <tr>
                    <td style="text-align: center"><h2>Sede Parcona: </h2>Ubicado en Raul Porras Barrenechea</td>
                    <td style="text-align: center"><h2>Sede Ica Centro: </h2>Ubicado en 2 de Mayo 370</td>
                </tr>
            </table>

            <div th:include="usuario/template_usuario.html::footer">
            </div>
        </div>
    </body>
</html>
